<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-gdevelop-yandex-mobile-ads-sdk8" version="4.0.0"
 xmlns="http://apache.org/cordova/ns/plugins/1.0"
 xmlns:android="http://schemas.android.com/apk/res/android">
  <name>GDevelopYandexAds</name>
  <description>Yandex Mobile Ads SDK 8.2 for GDevelop: banner, App Open, interstitial and rewarded ads. Cordova Android 15 / Android API 36.</description>
  <license>MIT</license>
  <engines>
    <engine name="cordova" version=">=12.0.0"/>
    <engine name="cordova-android" version=">=15.0.0"/>
  </engines>

  <js-module src="www/GDevelopYandexAds.js" name="GDevelopYandexAds">
    <clobbers target="GDevelopYandexAds"/>
    <clobbers target="SurvivalYandexAds"/>
    <clobbers target="YandexAds"/>
  </js-module>

  <hook type="after_prepare" src="hooks/ensure-android-api36.js"/>
  <hook type="before_compile" src="hooks/ensure-android-api36.js"/>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GDevelopYandexAds">
        <param name="android-package" value="io.gdevelop.yandexads.GDevelopYandexAdsPlugin"/>
      </feature>
      <preference name="android-minSdkVersion" value="24"/>
      <preference name="android-targetSdkVersion" value="36"/>
      <preference name="android-compileSdkVersion" value="36"/>
      <preference name="android-buildToolsVersion" value="36.0.0"/>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data android:name="com.yandex.mobile.ads.AUTOMATIC_SDK_INITIALIZATION" android:value="false"/>
    </config-file>

    <source-file src="src/android/GDevelopYandexAdsPlugin.java" target-dir="src/io/gdevelop/yandexads"/>
    <framework src="com.yandex.android:mobileads:8.2.0"/>
  </platform>
</plugin>
